/* Optimized for iPhone X Screen */
@media (max-width: 375px) {
    .website-view {display: none;}
    .mobile-view {display: contents !important;}
}

/* Whole Page */
body{
    background-image: url("./images/site-background.png");
}
/* navbar */
/* Intro */
#intro{
    margin-top: 10%;
}
#intro input{
    text-align: center;
}
/* hero 1 */
.hero1{
    margin-top: 10%;
    background-image: url("./images/hero1\ \(2\).jpg");
    background-size: cover;
}
.hero1 #content{
    padding-top: 10%;
    padding-bottom: 1%;
    padding-left: 1%;
}
.hero1 li{
    list-style: none;
}
.hero1 i{
    padding-right: 20px;
    color: #DEA01E;
}
/* Prices */
.prices{
    margin-top: 10%;
}
.prices .card-header h6{
    font-weight: bold;
    font-size: 20px;
}
.prices .card-header p{
    font-weight: bold;
    font-size: 30px;
}
.prices .card-body{
    padding: 10% 10%;
    font-size: 20px;
}
.prices .card-body h6{
    font-weight: bold;
    color: #3E4756;
    font-size: 20px;

}
.prices li{
    list-style: none;
}
.prices .card-body i{
    color: #008A5E;
    padding-right: 10px;
}

/* Mobile */
.mobile{
    margin-top: 10%;
    background-image: url("./images/iphone.jpg");
    background-size: cover;
}
.mobile #content{
    padding: 5% 1% 10% 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}
.mobile p{
    padding: 3% 3%;
}
/* hero 2 */
.hero2{
    margin-top: 10%;
    background-image: url("./images/business.jpg");
    background-size: cover;
}
.hero2 #content{
    padding-top: 5%;
    padding-bottom: 1%;
    padding-left: 1%;
}
.hero2 li{
    list-style: none;
}
.hero2 i{
    padding-right: 20px;
    color: #DEA01E;
}
/* Footer */
.footer{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    color: #604800;

}
.footer li{
    list-style: none;
}
#footer-icons li{
    display: inline;
    padding-left: 5%;
}
.vl {
    border-left: 4px solid darkgray;
    height: 100px;
  }
.center-inside{
    margin: auto;
    display: block;
    text-align: center;
}
/* Mobile View */
.mobile-view{
    display: none;
}
/* .website-view{
    display: none;
} */
