/* OPTIMIZED FOR iPHONE X */
@media (max-width: 375px) {
    .website-view {display: none;}
    .mobile-view {display: contents !important;}
}
/* GENERAL STYLE */
body{
    background-image: url("./images/site-background.png");
}

/* LARGE SCREEN NAVBAR */
#left-nav li{
    list-style: none;
    display: inline;
}
/* CONTACT AND INTRO DIV */
.intro{
    margin-top: 15%;
}
.intro input{
    text-align: center;
}
/* FIRST HERO IMAGE */
.hero1{
    margin-top: 15%;
    background-image: url("./images/hero1\ \(2\).jpg");
    background-size: cover;
}
.hero1 .content{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}
.hero1 li{
    list-style: none;
}
.hero1 i{
    padding-right: 20px;
    color: #DEA01E;
}
/* BUNDLES AND PRICES DIV */
.prices{
    margin-top: 15%;
}
.prices .card-header h6{
    font-weight: bold;
    font-size: 20px;
}
.prices .card-header p{
    font-weight: bold;
    font-size: 30px;
}
.prices .card-body{
    padding: 10% 10%;
    font-size: 20px;
}
.prices .card-body h6{
    font-weight: bold;
    color: #3E4756;
    font-size: 20px;

}
.prices li{
    list-style: none;
}
.prices .card-body i{
    color: #008A5E;
    padding-right: 10px;
}

/* MOBILE AD DIV */
.mobile{
    margin-top: 15%;
    margin-bottom: 15%;
    background-image: url("./images/iphone.jpg");
    background-size: cover;
}
.mobile #content{
    padding: 10% 1% 10% 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}
.mobile p{
    padding: 2% 2%;
}
/* SECOND HERO IMAGE */
.hero2{
    margin-top: 15%;
    background-image: url("./images/business.jpg");
    background-size: cover;
}
.hero2 .content{
    padding-top: 5%;
    padding-bottom: 1%;
    padding-left: 1%;
}
.hero2 li{
    list-style: none;
}
.hero2 i{
    padding-right: 20px;
    color: #DEA01E;
}
/* FOOTER (large screen view) */
.footer{
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    color: #604800;
    font-size: small;
}
.footer li{
    list-style: none;
}
.footer li a{
    color: #604800;
}
#footer-icons li{
    display: inline;
    padding-left: 5%;
}

/* Start of citation */
/* the vertical line has been derived from this source:  https://www.w3schools.com/howto/howto_css_vertical_line.asp*/
.vl {
    border-left: 4px solid darkgray;
    height: 80px;
  }
/* End of citation */

.center-inside{
    margin: auto;
    display: block;
    text-align: center;
}

/* MOBILE VIEW*/
.mobile-view{
    display: none;
}
footer li{
    display: inline;
    list-style: none;
    padding: 5px;
    color: #604800;
}
footer{
    text-align: center;
    margin-top: 15%;
}
