/* navbar */
/* Intro */
#intro{
    margin-top: 5%;
}
#intro input{
    text-align: center;
}
/* hero 1 */
.hero1{
    margin-top: 5%;
    background-image: url("./images/hero111.png");
    background-size: cover;
    border: 1px solid black;
}
.hero1 #content{
    padding-top: 10%;
}